In [3]:
import pandas as pd
df = pd.DataFrame({
    "name": ["Swift", "Verna", "Polo", "Creta", "Innova"],
    "brand": ["Suzuki", "Hyundai", "VW", "Hyundai", "Toyota"],
    "color": ["Red", "White", "Red", "Black", "White"]
})
df

     name    brand  color
0   Swift   Suzuki    Red
1   Verna  Hyundai  White
2    Polo       VW    Red
3   Creta  Hyundai  Black
4  Innova   Toyota  White

In [5]:
from sklearn.preprocessing import OneHotEncoder

df_onehotencode = pd.get_dummies(data = df, columns = ["brand", "color"],prefix = "is")
df_onehotencode

     name  is_Hyundai  is_Suzuki  is_Toyota  is_VW  is_Black  is_Red  is_White
0   Swift           0          1          0      0         0       1         0
1   Verna           1          0          0      0         0       0         1
2    Polo           0          0          0      1         0       1         0
3   Creta           1          0          0      0         1       0         0
4  Innova           0          0          1      0         0       0         1

In [9]:
col_to_encode = ["brand", "color"]
new_encode_col_names = []

for col in col_to_encode:
    new_encode_col_names += [f"is_{category}" for category in df[col].unique().tolist()]

print(new_encode_col_names)
['is_Suzuki', 'is_Hyundai', 'is_VW', 'is_Toyota', 'is_Red', 'is_White', 'is_Black']
one_hot_encode = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
encode_col = one_hot_encode.fit_transform(df[col_to_encode])

df_encoded = pd.DataFrame(encode_col, columns = new_encode_col_names)
df_one_hot_encode = df.join(df_encoded)
print(df_one_hot_encode)

['is_Suzuki', 'is_Hyundai', 'is_VW', 'is_Toyota', 'is_Red', 'is_White', 'is_Black']
     name    brand  color  is_Suzuki  is_Hyundai  is_VW  is_Toyota  is_Red  \
0   Swift   Suzuki    Red        0.0         1.0    0.0        0.0     0.0
1   Verna  Hyundai  White        1.0         0.0    0.0        0.0     0.0
2    Polo       VW    Red        0.0         0.0    0.0        1.0     0.0
3   Creta  Hyundai  Black        1.0         0.0    0.0        0.0     1.0
4  Innova   Toyota  White        0.0         0.0    1.0        0.0     0.0

   is_White  is_Black
0       1.0       0.0
1       0.0       1.0
2       1.0       0.0
3       0.0       0.0
4       0.0       1.0